
body {
    background-color: rgb(0, 0, 0);
}
td {
    width: 30px;
    height:30px;
    background-color: rgb(42, 79, 67);
}
.boundary {
    background-color: brown;
}
.bomb {
    background-color: rgb(0, 247, 255);
}
.player {
    background-color: blue;
}
.rock {
    background-color: rgb(221, 96, 96);
}
.obstacle {
    background-color: rgb(207, 132, 34);
}
.enemy {
    background-color: green
    }

